:host {
  background: rgb(135,16,69);
  max-width: 250px;
  box-sizing: border-box;
  padding: 1em;
  color: #fefefe;
  font-family: serif;

  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
}

h1:before,
h1:after {
  display: block;
  font-size: 3em;
  font-family: serif;
  margin-bottom: -.5em;
}

h1:before {
  content: '\201C';
}
h1:after {
  content: '\201D';
  text-align: center;
}

h3 {
  font-weight: normal;
  text-align: right;
}

button {
  margin-top: 1.3em;
  background: rgb(135, 16, 69);
  box-sizing: border-box;
  width: 100%;
  padding: 1.5em;
  box-shadow: none;
  border: 1px solid #ccc;
  font-size: 1em;
  color: #fff;
}
